body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 245, 247);
  }

/* HEADER */
.header {
    background-color: rgb(3, 63, 28);
    padding: 1rem 1rem;
}

h1.title-text {
    font-size: 2.3rem;
    color: white;
}

p.authors-text {
    /* font-size: 2.5rem; */
    color: white;
}

.logo {

}

/* TABS-CONTENT */
.tabs-content {
    padding: 1rem 1rem; 
    width: 100%;
}

/* FOOTER */

.page-footer  {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: black;
    text-align: center;
}