:root {
    --dark1: #273139;
    --bright-green: hsl(155, 96%, 57%);
    --orange: #ff9090;
    --background: #e1d8c3;
    --background-canvas: #edebe1;
    --blue-primary: #1f76b1;
    --blue-light: #8cd4dc;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background); 
    line-height: 1em;
    height: 100%;
    min-height: 100vh;
    font-size: 15px;
  }

a {
    color: var(--blue-primary);
}
a:hover {
    color: var(--blue-primary); 
}

/* HEADER */
.header {
    background-color: var(--dark1);
    padding: 0.8rem 1rem 0rem 0rem;
    margin: 0;
}

h1.title-text {
    font-size: 2rem;
    font-weight: 500;
    color: var(--orange)
}

p.authors-text {
    font-size: 0.9rem;
    color: var(--blue-light);
}

p.authors-text a {
    /* font-size: 0.9rem; */
    color: var(--blue-light);
}

.logo-img {
    width: 115%;
    max-width: 220px;
    display: inline-block;
    vertical-align: middle
    margin: auto;
    /* max-height: 100%; */
}

.logo-left {
    margin-right: -40px;
    opacity: 0.7;
}


.logo-right {
    margin-left: -40px;
    opacity: 0.7;
}

.logo {
    margin: auto;
    justify-content: center;
    display: inline-block;
    vertical-align: middle
}

/* NAVBAR */
.nav {
    background-color: var(--dark1);
}

.navbar-container {
    background-color: var(--dark1);
    margin: 0;
    padding: 0;
    font-size: 1rem;
}


.nav-pills .nav-link {
    background-color: transparent;
    color: #ffc17e;
}

.nav-pills .nav-link.active {
    color: rgb(0, 0, 0);
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: var(--background); 
    font-weight: 600;
    font-size: 1rem;
}

/* MARKS */
mark {
    padding: 0px 2px;
    /* background-color: #FAD5A9 rgba(252, 235, 161, 0.781); */
    background-color: rgba(252, 235, 161, 0.781);
}

.mark-red-cyto {
    background-color: #EEEEEE;
    border: solid 1px #b4b4b4;
}

.icon-hand-cyto{
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    color: #000000;
}

span.intro-col3-title-mark {
    position: relative;
    color: black;
}

span.intro-col3-title-mark:after {
    background-color: rgb(173, 250, 255);
    content: " ";
    position: absolute;
    height: 20%;
    left: 0;
    top: 65%;
    margin-left: -0.1rem;
    z-index: -1;
    margin-bottom: -0.2rem;
    width: calc(100% + 0.2rem);
}

.mark-red {
    background-color: rgb(249, 187, 187);
}

.mark-grey {
    background-color: rgb(189, 195, 203);
}

.pill {
    padding: 2px 4px;
    border-radius: 4px;
    margin-inline: 1px;
    color: rgb(255, 243, 228);
}

.pill-red {
    background-color: #f46d6d;
}
.pill-orange {
    background-color: #d3813e;
}
.pill-blue {
    background-color: #367aa1;
}

/* Ensembles list */
.ensembles-list {
    line-height: 1.3rem;
    padding-left: 3rem;
    font-size: 15px;
}

/* INTRO */
#page-content > div > div.row-text-content.col-sm-12.col-md-12.col-lg-3 > p > em {
    font-family: "Times New Roman", Times, serif;
    padding-inline: 0;
    color: #155F74;
}

#page-content > div > div.row-text-content.col-sm-12.col-md-12.col-lg-3 > p > b {
    font-family: "Times New Roman", Times, serif;
    padding-inline: 0;
    /* float: right; */
}


/* marks for protein conformations */
.confs-list {
    line-height: 1.6rem;
    padding-left: 3rem;
}

.mark-1fin {
    background-color: #f46d6d;
}

.mark-confs {
    display: inline-block;
    padding: 0px 0px;
    margin: 1px 2px;
    border-radius: 4px;
    width: 42px;
    height: 22px;
    text-align: center;
}
 .mark-confs > a {
    color: rgb(233, 233, 223);
 }

.mark-1fin {
    background-color: #da5d5d;
}

.mark-4fku {
    background-color: #27879c;
}

.mark-5a14 {
    background-color: #2f917b;
}

.mark-3pxf {
    background-color: #cc893c;
}



.ico {
    /* font-size: 0.9rem; */
    margin-left: -0.8rem;
    padding-right: 0.2rem;
    opacity: 0.6;
}

.ident-1 {
    /* font-size: 0.9rem; */
    padding-left: 1.4rem;
}

.ident-2 {
    /* font-size: 0.9rem; */
    padding-left: 2.8rem;
}

.ident-3 {
    /* font-size: 0.9rem; */
    padding-left: 3.6rem;
}

.ico.fa-circle.s1 {
    font-size: 0.7rem;
}

.ico.fa-circle.s2 {
    font-size: 0.5rem;
}

.h5-header {
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0.3rem;
}

.card {
    margin: 0.5rem;
    border-radius: 8px;
}

.card-body {
    padding: 0.5rem 1rem;
    background-color: var(--background-canvas);
    border-radius: 8px;
}

/* CONTENT */
.content-col-methods {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 95%;
}

#page-content {
    display: flex;
    height: 100%;
    margin-top: -20px;
}

.section-container {
    margin: 2rem 0.5rem;
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
}

/* FIGURES */
.plot-margin {
    border: 2px solid var(--dark1);
    border-radius: 8px;
}

/* MOLECULE VIEWER NGL */

.mol-viewer {
    background-color: var(--dark1); 
    margin-top: 0.8rem;
}

/* radio button selector */
#radioitems-conformations {
    display: flex;
    justify-content:  space-around;
    padding: 4px;
}
#radioitems-conformations > div > label {
    font-weight: 600;
    margin-top: 5px;
    border-radius: 4px;
    padding: 3px;
}

#radioitems-conformations > div:nth-child(1) > label {
    background-color: #da5d5d5a;
    
}

#radioitems-conformations > div:nth-child(2) > label {
    background-color: #27879c5a;
    
}

#radioitems-conformations > div:nth-child(3) > label {
    background-color: #e0a21d5a;
    
}

#radioitems-conformations > div:nth-child(4) > label {
    background-color: #3bb1745a;
    
}

/* CYTOSCAPE */

.cyto_main_container {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cyto-canvas-container {
   flex: 1;
   position: relative; 
}

.cyto-canvas {
    background-color: var(--background-canvas);
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    z-index: 10;
}

/* METHODS CONTAINERS */
.row-title-content > *{
    width: 100%;
}

.row-title-content > h2, h3  {
    padding: 0.1rem 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-title-content > h2  {
    font-weight: 600;
    /* color: rgb(62, 104, 136); */
    font-size: 1.5rem;
}

.row-title-content > h3  {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.row-title-content > p  {
    margin-top: 0.3rem;
}

/* ROW TEXT CONTENT */

.row-text-content p  {
    margin: 0.5rem 1rem;
    line-height: 1.25rem;
    /* font-size: 0.9rem; */
    /* text-align: justify; */
    /* text-justify: inter-word; */
}

.row-text-content h4 {
    font-weight: 600;
    font-size: 1.15rem;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
}

.card-brief {
    background-color: #D8D5C6;
    margin-left: 0;
}

.card-brief-body {
    /* background-color: #D8D5C6; */
    padding-left: 0;
    padding-right: 0;
}

.carousel-cnn {
    background-color: white;
    height: 340px;
    padding: 1rem;
    margin: 0;
    /* display: inline-block; */
    border-radius: 8px;
    /* vertical-align: middle; */
    /* left: 50%;
    top: 50%; */
}

.carousel-intro {
    background-color: var(--background-canvas);
    /* height: 340px; */
    padding: 1rem;
    margin: 0;
    /* display: inline-block; */
    border-radius: 8px;
    border: solid 1px #BDBAAD;
    /* vertical-align: middle; */
    /* left: 50%;
    top: 50%; */
}


#slide-number {
    margin: auto;
    justify-content: center;
    display: flex;
    margin-top: 0.5rem;
}

.carousel-item {
    /* margin: auto; */
    /* vertical-align: middle; */
    /* display: inline-block; */
}

#col-container-methods > div > div.col-lg-8 > div.img-fluid > div > div > div.carousel-item.active > div {
    margin-top: 100px;
}

#col-container-methods > div > div.col-lg-8 > div.img-fluid > div > div > div.carousel-item.active > div > p {
    color: black;
    /* margin-top: 100px;  */
    background-color: rgba(235, 235, 234, 0.781);
}

/* FOOTER */
.page-footer  {
    position: fixed;
    bottom: 0;
    padding-top: 5px;
    font-size: 0.9rem;
    color: var(--blue-light);
    height: 30px;
    width: 100%;
    background-color:  var(--dark1);
    text-align: center;
    z-index: 100
}

.page-footer a {
    color: var(--blue-light)
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
    .nav {
        position: relative;
        padding: 4px;
    }
    .nav-pills .nav-link.active {
        border-radius: 5px; 
        /* background-color: var(--background); 
        font-weight: 600; */
    } 
}

@media (max-width: 900px) {

    .logo-right, .logo-left {
        display: none;
    }
}