:root {
    --dark1: #273139;
    --bright-green: hsl(155, 96%, 57%);
    --orange: #ffad65;
    --background: #e1d8c3;
    --background-canvas: #edebe1;
    --blue-primary: #1f76b1;
    --blue-light: #79bec5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background); 
    line-height: 1em;
  }

a {
    color: var(--blue-primary);
}
a:hover {
    color: var(--blue-primary); 
}

/* HEADER */
.header {
    background-color: var(--dark1);
    padding: 0.8rem 1rem 0rem 0rem;
    margin: 0;
}

h1.title-text {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--orange)
}

p.authors-text {
    font-size: 0.9rem;
    color: var(--blue-light);
}

.logo {

}


/* NAVBAR */
.nav {
    background-color: var(--dark1);
}

.navbar-container {
    background-color: var(--dark1);
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}


.nav-pills .nav-link {
    background-color: transparent;
    color: #f7cc95;
}

.nav-pills .nav-link.active {
    color: rgb(0, 0, 0);
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: var(--background); 
    font-weight: 600;
    font-size: 1rem;
}

/* MARKS */
mark {
    padding: 0px 2px;
}

.mark-red {
    background-color: rgb(221, 167, 167);
}

.mark-grey {
    background-color: rgb(189, 195, 203);
}

.ico {
    /* font-size: 0.9rem; */
    margin-left: -0.8rem;
    padding-right: 0.2rem;
    opacity: 0.6;
}

/* CONTENT */
.col-container-methods {
    margin-bottom: 2rem;
}

.content-col-methods {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 95%;
}

#page-content {
    display: flex;
    height: 100%;
    margin-top: -20px;
}

.section-container {
    margin: 2rem;
    display: flex;
    height: 100%;
}

/* FIGURES */
.plot-margin {
    border: 2px solid var(--dark1);
}

.cyto-canvas {
    background-color: var(--background-canvas);
}

/* METHODS CONTAINERS */
.row-title-content > *{
    width: 100%;
}

.row-title-content > h2, h3  {
    padding: 0.1rem 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-title-content > h2  {
    font-weight: 600;
    font-size: 1.5rem;
}

.row-title-content > h3  {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.row-title-content > p  {
    margin-top: 0.3rem;
}

/* ROW TEXT CONTENT */

.row-text-content p  {
    margin: 0.5rem 1rem;
    line-height: 1.2rem;
    font-size: 0.92rem;
    /* text-align: justify; */
    /* text-justify: inter-word; */
}




/* FOOTER */
.page-footer  {
    position: fixed;
    bottom: 0;
    font-size: 0.8rem;
    height: 20px;
    width: 100%;
    background-color:  var(--dark1);
    text-align: center;
    z-index: 100
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
    .nav {
        position: relative;
        padding: 4px;
    }
    .nav-pills .nav-link.active {
        border-radius: 5px; 
        /* background-color: var(--background); 
        font-weight: 600; */
    } 
}